@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Model.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h2>Register</h2>
    <form asp-action="Register" method="post">
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PersonDaten.Email" class="control-label"></label>
            <input asp-for="PersonDaten.Email" class="form-control" />
            <span asp-validation-for="PersonDaten.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PersonDaten.Name" class="control-label"></label>
            <input asp-for="PersonDaten.Name" class="form-control" />
            <span asp-validation-for="PersonDaten.Name" class="text-danger"></span>
        </div>
        <div>
            <br>
            <h1>Das ist nur zum Testen der WebApp, und wuerde nicht in den Release mit hereinkommen  </h1>
            <label asp-for="IsAdmin"></label>
            <input asp-for="IsAdmin" class="form-control"/>
            <span asp-validation-for="IsAdmin" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>